<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{'/'}">list customer</a>
<th:block th:if="${confirmMessage}">
    <p th:text="${confirmMessage}" style="color: darkgreen"></p>
</th:block>
<form action="/delete-customer" th:object="${customer}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>First Name</td>
            <td><input type="text" th:field="*{firstName}"disabled></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input type="text" th:field="*{lastName}"disabled></td>
        </tr>
        <tr>
            <td>Province</td>
            <td>
                <select th:field="*{province}"disabled>
                    <option th:each="p : ${provinces}"
                            th:value="${p.id}"
                            th:text="${p.name}"
                            th:selected="(${p.id}==*{province.id})">
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Delete Customer"></td>
        </tr>
    </table>
</form>
</body>
</html>