<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{'/listprovince'}">list province</a>
<th:block th:if="${successMessage}">
    <p th:text="${successMessage}" style="color: darkgreen"></p>
</th:block>
<form action="/edit-province" th:object="${province}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"style="color: red"></p>
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Update Province"></td>
        </tr>
    </table>
</form>
</body>
</html>