<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create-province">Add New Province</a><br>
<a th:href="@{'/'}">list Customer</a>
<form th:object="${provinces}">
    <table border="1px">
        <tr>
            <td>id</td>
            <td>Name</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
        <th:block th:each="province:${provinces}">
            <tr>
                <td th:text="${province.id}"></td>
                <td th:text="${province.name}"></td>
                <td><a th:href="@{/edit/__${province.id}__}">Edit</a></td>
                <td><a th:href="@{/delete/__${province.id}__}">Delete</a></td>
            </tr>
        </th:block>
    </table>
</form>
</body>
</html>