<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/add-new-city">Thêm Thành Phố</a><br>
<h2>Danh Sách Thành Phố</h2>

<table border="1px">
    <tr>
        <td>No</td>
        <td>Thành Phố</td>
        <td>Quốc Gia</td>
        <td>Chi Tiết</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    <th:block th:each="city,row:${citys}">
        <tr>
            <td th:text="${row.count}"></td>
            <td th:text="${city.tenThanhPho}"></td>
            <td th:text="${city.quocGia.tenQuocGia}"></td>
            <td><a th:href="@{/chitiet/__${city.id}__}">chi tiết</a></td>
            <td><a th:href="@{/edit/__${city.id}__}">Edit</a></td>
            <td><a th:href="@{/delete/__${city.id}__}">Delete</a></td>
        </tr>
    </th:block>
</table>

</body>
</html>